  body{
    background-color: #ffaaa5;
    color: white;
  }
  hr{
    border-style: dotted none none none;
    border-width: 5px;
    border-radius: 100;
    height: 0;
  }

h1{
  color: #ffd3b6;
}
h2{
  color: #ffd3b6;
}
h3{
  color: #ffd3b6;
  text-align: center;
}

table {
  margin: auto;
  margin-bottom: 2%
}

ul {
  width: 10%;
  margin:auto;
  margin-bottom: 2%;
}

a:hover{
  color: white;
}
